.test__header-button {
    border: none;
    background-color: inherit;
    height: 28px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
}
.test__header-button:hover {
    text-decoration: underline;
}