.card__list-link {
    text-decoration: none;
    color: #212329;
    font-family: 'Golos', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
}