@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/test/test.css);
@import url(../blocks/test/__container/test__container.css);
@import url(../blocks/test/__title/test__title.css);
@import url(../blocks/test/__header/test__header.css);
@import url(../blocks/test/__header-button/test__header-button.css);
@import url(../blocks/questions-container/questions-container.css);
@import url(../blocks/first-question/__form/first-question__form.css);
@import url(../blocks/second-question/__form/second-question__form.css);
@import url(../blocks/first-question/__text/first-question__text.css);
@import url(../blocks/second-question/__text/second-question__text.css);
@import url(../blocks/first-question/__label/first-question__label.css);
@import url(../blocks/answer/__input/answer__input.css);
@import url(../blocks/answer/__input-checkbox/answer__input-checkbox.css);
@import url(../blocks/answer/__item/answer__item.css);
@import url(../blocks/answer/__item/_type/answer__item_type_checkbox.css);
@import url(../blocks/answer/__text/answer__text.css);
@import url(../blocks/answer/__text/_checked/answer__text_checked.css);
@import url(../blocks/answer/__item/_type/answer__item_type_radio.css);
@import url(../blocks/answer/__input-radiobox/answer__input-radiobox.css);
@import url(../blocks/second-question/__label/second-question__label.css);