@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);

/* video */

@import url(../blocks/video/video.css);
@import url(../blocks/video/__button/video__button.css);
@import url(../blocks/video/__button/_type/video__button_type_play.css);
@import url(../blocks/video/__button/_type/video__button_type_sound.css);
@import url(../blocks/video/__button/_type/video__button_type_timeline.css);
@import url(../blocks/video/__button/_type/video__button_type_size.css);
@import url(../blocks/video/__button/_type/video__button_type_sound-icon.css);
@import url(../blocks/video/__player/video__player.css);
@import url(../blocks/video/__title/video__title.css);

/* results */

@import url(../blocks/results/results.css);
@import url(../blocks/results/__bad/results__bad.css);
@import url(../blocks/results/__good/results__good.css);
@import url(../blocks/results/__score/results__score.css);
@import url(../blocks/results/__score/_type/results__score_type_bad.css);
@import url(../blocks/results/__score/_type/results__score_type_good.css);
@import url(../blocks/results/__text/results__text.css);
@import url(../blocks/results/__text/_type/result__text_type_bad.css);
@import url(../blocks/results/__text/_type/result__text_type_good.css);

/* breadcrumbs */

@import url(../blocks/breadcrumbs/breadcrumbs.css);
@import url(../blocks/breadcrumbs/__container/breadcrumbs__container.css);
@import url(../blocks/breadcrumbs/__pointer/breadcrumbs__pointer.css);
@import url(../blocks/breadcrumbs/__text/breadcrumbs__text.css);

/* header */

@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);

/* navigation */

@import url(../blocks/navigation/navigation.css);
@import url(../blocks/navigation/__title/navigation__title.css);

/* card */

@import url(../blocks/card/card.css);
@import url(../blocks/card/__content/card__content.css);
@import url(../blocks/card/__input/card__input.css);
@import url(../blocks/card/__list-item/card__list-item.css);
@import url(../blocks/card/__list-link/card__list-link.css);
@import url(../blocks/card/__list-link/_chek/card__list-link_chek.css);
@import url(../blocks/card/__list-pic/card__list-pic.css);
@import url(../blocks/card/__list-pic/_cheked/card__list-pic_cheked.css);
@import url(../blocks/card/__list-pic/_leson/card__list-pic_leson.css);
@import url(../blocks/card/__list-pic/_video-on/card__list-pic_video-on.css);
@import url(../blocks/card/__list-pic/_test/card__list-pic_test.css);
@import url(../blocks/card/__list/card__list.css);
@import url(../blocks/card/__subtitle/card__subtitle.css);
@import url(../blocks/card/__test-on/card__test-on.css);
@import url(../blocks/card/__title/card__title.css);

/* menu */

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__list-item/menu__list-item.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__link/_active/menu__link_active.css);
@import url(../blocks/menu/__icon/menu__icon.css);



