.results__good {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  width: 808px;
  height: 254px;
  background: rgba(0, 128, 0, 0.12);
  border: 1.2px solid rgba(0, 128, 0, 0.6);
  box-sizing: border-box;
  border-radius: 16px;

  margin:0 32px 32px 32px;
}
